/__pycache__
/data
/.ipynb_checkpoints
/.idea
*.avi
*.csv
*.mkv
*.ipynb
*.png
!test.png
*.mp4
*.pyc
modeset
modeset-double-buffered
modeset-vsync
location
/.vscode
test.c
a.out
one
test
temp
share_data
share_data_location
filtered_data
display/build
display/winusb/build
display/winusb/native_pretest/build
!display/data/*
!ori.png
!red.png
!green.png
!angle_data/*
!sensitivity_lab/*
display/3rdParty/ffmpeg
/venv
