/__pycache__
/data
/.ipynb_checkpoints
/.idea
*.avi
*.mkv
*.ipynb
*.png
!test.png
*.mp4
*.pyc
modeset
modeset-double-buffered
modeset-vsync
location
/.vscode
test.c
a.out
one
test
temp
share_data
share_data_location
filtered_data
display/build
!display/data/*
!ori.png
!red.png
!green.png